<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="menu">
    <img th:src="@{/img/logo.png}" alt="">
    <div class="nav">
        <a class="nav-link" th:href="@{/}">Home</a>
        <a class="nav-link" th:href="@{/cadastro}">Cadastro</a>
        <a class="nav-link" th:href="@{/listagem}">Listagem</a>
    </div>
</div>
<div class="main">
    <div class="submain">
        <div class="text">
            <h1 class="tittle">Sua <a class="letter-color">satisfação</a> é nossa <a class="letter-color">prioridade</a></h1>
            <p>A Car-wash é uma renomada lava rápido especializada em deixar seu veículo impecável em minutos. Com equipe experiente e tecnologia de ponta, oferecemos serviços de lavagem automotiva de alta qualidade para manter seu carro brilhando e protegido.</p>
            <a th:href="@{/cadastro}">
                <button class="button-link">Cadastro</button>
            </a>
            <div class="redes">
                <img th:src="@{/img/insta.png}" alt="">
                <img th:src="@{/img/face.png}" alt="">
                <img th:src="@{/img/tiktok.png}" alt="">
                <img th:src="@{/img/whats.png}" alt="">
            </div>
        </div>
    </div>
    <div class="sub2main">
        <img th:src="@{/img/carro.png}" class="carro-img" alt="">
    </div>
</div>
</body>
</html>
